In [71]:
#---------------------------------------------------------------------------------------------------------------
# Nom du projet     : Classification
# Nom du programme  : SDA_Projet_Classification                                                                         
# Description       : L’objectif est de prédire le parti gagnant des élections présidentielles de 2020 aux Etats
#                   : Unis à partir de données socio-démographiques                        
# Auteur            : Yaya KONE,Papa Moussa THIOUNE                                                                         
# Date de création  : Novembre 2022                       
#---------------------------------------------------------------------------------------------------------------

# Librairies utiles pour le data management
import pandas as pd 
import numpy as np
import datetime as dt           
import os, glob, re  

#---------------------------------------------------------------------------------------------------------------
# Partie 1 : Constitution des donnes
#---------------------------------------------------------------------------------------------------------------

list_file_xls = glob.glob("data/*.xls")       # Liste des fichiers xls contenus dans le dossier data 

# Importation des resultats
df_results_2020 = pd.read_csv('data/2020_US_County_Level_Presidential_Results.csv')
df_results_0816 = pd.read_csv('data/US_County_Level_Presidential_Results_08-16.csv')

# Creation de la variable target dans la base df_results_2020
df_results_2020['target'] = df_results_2020['target'] 

# Creation de la base df_votes contenant les resultats de 2008 a 2016
df_votes = pd.DataFrame(columns=['fips_code','year','dem','gop','oth'])
for i in range(2008,2017,4):
    df_results_0816['year'] = i
    df_votes = pd.concat([df_votes, df_results_0816[['fips_code','year','dem_'+str(i),'gop_'+str(i),'oth_'+str(i)]]\
                         .rename(columns={'dem_'+str(i): 'dem','gop_'+str(i):'gop','oth_'+str(i):'oth'})], axis=0)

In [74]:
df_results_2020

,state_name,county_fips,county_name,votes_gop,votes_dem,total_votes,diff,per_gop,per_dem,per_point_diff
0,Alabama,1001,Autauga County,19838,7503,27770,12335,0.714368,0.270184,0.444184
1,Alabama,1003,Baldwin County,83544,24578,109679,58966,0.761714,0.224090,0.537623
2,Alabama,1005,Barbour County,5622,4816,10518,806,0.534512,0.457882,0.076631
3,Alabama,1007,Bibb County,7525,1986,9595,5539,0.784263,0.206983,0.577280
4,Alabama,1009,Blount County,24711,2640,27588,22071,0.895716,0.095694,0.800022
...,...,...,...,...,...,...,...,...,...,...
3147,Wyoming,56037,Sweetwater County,12229,3823,16603,8406,0.736554,0.230260,0.506294
3148,Wyoming,56039,Teton County,4341,9848,14677,-5507,0.295769,0.670982,-0.375213
3149,Wyoming,56041,Uinta County,7496,1591,9402,5905,0.797277,0.169219,0.628058
3150,Wyoming,56043,Washakie County,3245,651,4012,2594,0.808824,0.162263,0.646560
3151,Wyoming,56045,Weston County,3107,360,3542,2747,0.877188,0.101637,0.775551

In [46]:
i=2008

col_dem = "dem_" + str(i)
train = df_train[['fips_code','dem_'+str(i),'gop_'+str(i),'oth_'+str(i)]]

In [47]:
train

      fips_code  dem_2008  gop_2008  oth_2008
0         26041      9974      8763       327
1         48295       155      1093         8
2          1127      7420     20722       510
3         48389      1606      1445        26
4         56017       619      1834        93
...         ...       ...       ...       ...
3107      17115     25487     24948       781
3108      29215      3410      7215       226
3109      46051      1786      1951        93
3110      17103      7765      8258       295
3111      20063       261      1136        21

[3112 rows x 4 columns]

In [50]:
for i in range(2008,2017,4):
    print(i)

2008
2012
2016